body {
  background-color: black;
  color: white;
  font-family: "IBM Plex Mono", monospace;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: small;
}

.u-flex-grow-1 {
  flex-grow: 1;
}

.u-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  color: white;
  transition: 0.2s;
}

a:hover {
  color: white;
  opacity: 60%;
  text-decoration: none;
}

a[data-video-trigger]:hover {
  opacity: 100%; /* override hover style */
}

a[data-video-trigger]:hover .pt-2 {
  opacity: 60%; /* reinstate hover style */
}

.navbar-brand {
  padding: 0;
  margin-right: 0;
}

/*
this allows the homepage content to
fill the full height and makes the
big logo vertically centered
*/
.navbar-forced-placement {
  position: absolute;
  top: 0;
  right: 0;
}

/* .nav {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
} */

.clipped {
  clip-path: url(#clip-source);
}

.footer {
  text-align: center;
  font-size: small;
}

.debugger {
  border: 10px solid red;
}

.about-text {
  max-width: 50ch;
}

.faded-text {
  opacity: 60%;
}
