body {
  background-color: black;
  color: white;
  font-family: "IBM Plex Mono", monospace;
}

a {
  color: white;
  transition: 0.2s;
}

a:hover {
  color: white;
  opacity: 50%;
  text-decoration: none;
}

/* .navbar {
  padding: 0;
} */

.navbar-brand {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 0;
}

.clipped {
  clip-path: url(#clip-source);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
}

.footer {
  text-align: center;
  font-size: small;
}

.debugger {
  border: 10px solid red;
}

.aspect-ratio-box {
  position: relative;
  height: 0;
  /* overflow: hidden; necessary? */
  padding-top: calc(374 / 1104 * 100%); /* this is the magic */
}

.aspect-ratio-box-inside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}