body {
  background-color: black;
  color: white;
  font-family: "IBM Plex Mono", monospace;
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.u-flex-grow-1 {
  flex-grow: 1;
}

.u-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  color: white;
  transition: 0.2s;
}

a:hover {
  color: white;
  opacity: 66%;
  text-decoration: none;
}

a[data-video-trigger]:hover {
  opacity: 100%; /* override hover style */
}

a[data-video-trigger]:hover .pt-2 {
  opacity: 66%; /* reinstate hover style */
}

.navbar-brand {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 0;
}

.clipped {
  clip-path: url(#clip-source);
  -webkit-clip-path: url(#clip-source);
}

.footer {
  text-align: center;
  font-size: small;
}

.debugger {
  border: 10px solid red;
}

.aspect-ratio-box {
  position: relative;
  height: 0;
  /* overflow: hidden; necessary? */
  padding-top: calc(374 / 1104 * 100%); /* this is the magic */
}

.aspect-ratio-box-inside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
